<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>Super Ultra Manga Reader</title>
</head>

<body>



    <header class="p-3 mb-3 border-bottom">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <form class="col-12 mb-3 mb-lg-0 me-lg-3" role="search" method="get">
                    <div class="input-group w-100">
                        <input type="text" class="form-control" name="searchText" placeholder="Manga title">
                        <button class="btn btn-outline-secondary" type="submit">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </header>

    <main>
        <div class="row">
            {%for manga in mangaList:%}
            <div class="col-lg-2 col-md-3 col-sm-4 d-flex justify-content-center text-center p-2">
                <div class="card" style="width: 18rem;">
                    <a href="manga/{{manga['id']}}">
                        <img src="{{manga['coverUrl']}}" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">{{manga["title"]}}</h5>
                        <!-- <p class="card-text">123</p> -->
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>
    </main>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>

</html>